# Dependencies
node_modules/
lms-frontend/node_modules/
lms-backend/node_modules/

# Environment variables
.env
lms-frontend/.env
lms-backend/.env
lms-frontend/.env.local
lms-frontend/.env.development.local
lms-frontend/.env.test.local
lms-frontend/.env.production.local

# Build outputs
lms-frontend/dist/
lms-frontend/dist-ssr/

# Logs
*.log
lms-frontend/*.log
lms-backend/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Temp files
out.txt
out2.txt
temp/
tmp/

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
